<div class="relative w-full flex">
  <!-- Overlay sombre pour mobile -->
  <div
    class="fixed inset-0 bg-black bg-opacity-50 z-10 transition-opacity duration-300"
    *ngIf="isSidebarVisible && isMobile"
    (click)="toggleSidebar()"
  >
  </div>

  <!-- Sidebar fixe avec animation -->
  <div
    class="bg-white h-screen fixed top-0 left-0 overflow-y-auto z-20 transition-all duration-300 ease-in-out"
    [ngClass]="{
      'w-[25%] translate-x-0 opacity-100': isSidebarVisible && !isMobile,
      'w-full translate-x-0 opacity-100': isSidebarVisible && isMobile,
      'opacity-0 -translate-x-full': !isSidebarVisible
    }"
  >
    <app-sidebar></app-sidebar>
  </div>

  <!-- Contenu principal -->
  <div
    class="flex-1 flex flex-col bg-base-200 transition-all duration-300"
    [ngClass]="{
      'ml-[25%]': isSidebarVisible && !isMobile,
      'ml-0': !isSidebarVisible || isMobile
    }"
  >
    <!-- Icône pour afficher/cacher le sidebar -->
    <i
      (click)="toggleSidebar()"
      class="pi pi-align-left cursor-pointer bg-white p-3 rounded-md shadow-md m-2 toggle-icon"
    ></i>

    <main class="w-full h-screen">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>