<div class="p-4 md:mx-5 md:shadow-md md:rounded-lg md:bg-base-100 min-h-screen">
  <div class="mt-5 flex flex-col gap-4">
    <h1 class="text-xl md:text-2xl font-bold text-center">Mon entreprise</h1>

    <p class="text-sm text-center font-semibold">
      Gérez les paramètres de votre Entreprise
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-10 mt-5">
    <p-card header="Changer de mot de passe" class="mt-10">
      <div
        class="flex flex-col md:flex-row items-center justify-center gap-5 md:gap-10"
      >
        <form class="flex flex-col gap-6">
          <div class="flex flex-col gap-2">
            <label
              for="password"
              class="text-sm md:text-base font-medium text-gray-700"
              >Numéro de téléphone</label
            >
            <input
              id="password"
              type="password"
              name="password"
              class="p-3 bg-gray-50 rounded-md w-full focus:ring focus:ring-indigo-300 shadow-md"
              placeholder="changer de password"
            />
          </div>

          <button class="btn btn-primary mx-auto btn-lg" type="submit">
            Modifier
          </button>
        </form>
      </div>
    </p-card>

    <p-card header="photo" class="mt-10">
      <div
        class="flex flex-col md:flex-row items-center justify-center gap-5 md:gap-10"
      >
        <img
          alt="Avatar"
          class="rounded-full w-24 h-24 md:w-36 md:h-36 border-2 border-gray-300"
        />
        <div class="flex flex-col gap-3">
          <button class="btn btn-primary btn-outline">Changer la photo</button>
          <button class="btn btn-warning">supprimer</button>
        </div>
      </div>
      <p class="text-xs md:text-sm font-semibold mt-3 text-center">
        Ajouter votre photo. La taille recommandée est 256 x 256.
      </p>
    </p-card>
  </div>

  <div class="mt-10 overflow-auto">
    <h1 class="text-xl md:text-2xl font-bold text-center">
      Modifier votre profil
    </h1>
    <p-card header="Formulaire de profil" class="mt-5 shadow-md mx-auto w-full">
      <form class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <label
            for="address"
            class="text-sm md:text-base font-medium text-gray-700"
            >Adresse</label
          >
          <input
            id="address"
            type="text"
            name="address"
            class="p-3 bg-gray-50 rounded-md w-full focus:ring focus:ring-indigo-300 shadow-md"
            placeholder="Entrez votre adresse"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label
            for="phone_number"
            class="text-sm md:text-base font-medium text-gray-700"
            >Numéro de téléphone</label
          >
          <input
            id="phone_number"
            type="tel"
            name="phone_number"
            class="p-3 bg-gray-50 rounded-md w-full focus:ring focus:ring-indigo-300 shadow-md"
            placeholder="Entrez votre numéro de téléphone"
          />
        </div>

        <button class="btn btn-primary mx-auto btn-lg" type="submit">
          Modifier
        </button>
      </form>
    </p-card>
  </div>
</div>
