<div class="p-6 md:mx-5 md:shadow-lg md:rounded-xl bg-gray-50 md:bg-white min-h-screen">
  <!-- Section d'entête -->
  <div class="mt-5 text-center">
    <h1 class="text-3xl font-extrabold text-gray-800">Espace Profil</h1>
    <p class="text-md font-medium text-gray-500 mt-2">
      Personnalisez vos informations et paramètres
    </p>
  </div>

  <!-- Grille pour gérer le mot de passe et la photo -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-10">
    <!-- Carte pour modifier le mot de passe -->
    <p-card class="shadow-xl rounded-xl">
      <div class="flex flex-col items-center gap-6">
        <form
          (ngSubmit)="onReset(password)"
          #password="ngForm"
          class="flex flex-col gap-6 w-full px-4"
        >
          <div class="flex flex-col gap-3">
            <label
              for="password"
              class="text-base font-semibold text-gray-600"
              >Nouveau mot de passe</label
            >
            <input
              id="password"
              type="password"
              [(ngModel)]="user.password"
              name="password"
              class="p-3 bg-gray-100 rounded-lg w-full focus:ring focus:ring-indigo-400 shadow-sm"
              placeholder="Entrez un nouveau mot de passe"
            />
          </div>
          <button class="btn btn-primary w-full" type="submit">
            Mettre à jour
          </button>
        </form>
      </div>
    </p-card>

    <!-- Carte pour gérer la photo -->
    <p-card  class="shadow-xl rounded-xl">
      <div class="flex flex-col items-center gap-6">
        <img
          [src]="profile.photo"
          alt="Avatar"
          class="rounded-full w-32 h-32 md:w-40 md:h-40 border-4 border-gray-200 shadow-md"
        />
        <div class="flex flex-col gap-3 w-full">
          <button class="btn btn-primary btn-outline w-full">
            Changer la photo
          </button>
          <button class="btn btn-warning w-full">Supprimer</button>
        </div>
        <p class="text-sm text-gray-500 text-center font-medium">
          Taille recommandée : 256 x 256 pixels.
        </p>
      </div>
    </p-card>
  </div>

  <!-- Formulaire pour modifier les informations -->
  <div class="mt-10">
    <h2 class="text-2xl font-bold text-gray-800 text-center">
      Mise à Jour du Profil
    </h2>
    <p-card
      header="Informations Personnelles"
      class="mt-6 shadow-xl rounded-xl mx-auto w-full md:w-2/3"
    >
      <form
        (ngSubmit)="onSubmit()"
        #profileForm="ngForm"
        class="flex flex-col gap-6 px-4"
      >
        <div class="flex flex-col gap-3">
          <label
            for="address"
            class="text-base font-semibold text-gray-600"
            >Adresse</label
          >
          <input
            id="address"
            type="text"
            [(ngModel)]="profile.address"
            name="address"
            class="p-3 bg-gray-100 rounded-lg w-full focus:ring focus:ring-indigo-400 shadow-sm"
            placeholder="Entrez votre adresse complète"
          />
        </div>

        <div class="flex flex-col gap-3">
          <label
            for="phone_number"
            class="text-base font-semibold text-gray-600"
            >Numéro de Téléphone</label
          >
          <input
            id="phone_number"
            type="tel"
            [(ngModel)]="profile.phone_number"
            name="phone_number"
            class="p-3 bg-gray-100 rounded-lg w-full focus:ring focus:ring-indigo-400 shadow-sm"
            placeholder="Entrez votre numéro"
          />
        </div>

        <button class="btn btn-primary w-full btn-lg" type="submit">
          Sauvegarder
        </button>
      </form>
    </p-card>
  </div>
</div>
